Click2Cloud_OpenShift.NET_development_kit/cartridges/sharepoint2013/src/control/Service References/SharePointService/SharePoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SharePoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4040/SharePoint.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4040/SharePoint.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISharePoint_CreateSPSiteCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSPSiteCollection" />
  </wsdl:message>
  <wsdl:message name="ISharePoint_CreateSPSiteCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSPSiteCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISharePoint_CreateSPSiteCollectionAsynchronous_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSPSiteCollectionAsynchronous" />
  </wsdl:message>
  <wsdl:message name="ISharePoint_CreateSPSiteCollectionAsynchronous_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSPSiteCollectionAsynchronousResponse" />
  </wsdl:message>
  <wsdl:message name="ISharePoint_DeleteSPSiteCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSPSiteCollection" />
  </wsdl:message>
  <wsdl:message name="ISharePoint_DeleteSPSiteCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSPSiteCollectionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISharePoint">
    <wsdl:operation name="CreateSPSiteCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharePoint/CreateSPSiteCollection" message="tns:ISharePoint_CreateSPSiteCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharePoint/CreateSPSiteCollectionResponse" message="tns:ISharePoint_CreateSPSiteCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSPSiteCollectionAsynchronous">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharePoint/CreateSPSiteCollectionAsynchronous" message="tns:ISharePoint_CreateSPSiteCollectionAsynchronous_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharePoint/CreateSPSiteCollectionAsynchronousResponse" message="tns:ISharePoint_CreateSPSiteCollectionAsynchronous_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSPSiteCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharePoint/DeleteSPSiteCollection" message="tns:ISharePoint_DeleteSPSiteCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharePoint/DeleteSPSiteCollectionResponse" message="tns:ISharePoint_DeleteSPSiteCollection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISharePoint" type="tns:ISharePoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSPSiteCollection">
      <soap:operation soapAction="http://tempuri.org/ISharePoint/CreateSPSiteCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSPSiteCollectionAsynchronous">
      <soap:operation soapAction="http://tempuri.org/ISharePoint/CreateSPSiteCollectionAsynchronous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSPSiteCollection">
      <soap:operation soapAction="http://tempuri.org/ISharePoint/DeleteSPSiteCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SharePoint">
    <wsdl:port name="BasicHttpBinding_ISharePoint" binding="tns:BasicHttpBinding_ISharePoint">
      <soap:address location="http://localhost:4040/SharePoint.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>