Click2Cloud_OpenShift.NET_development_kit/cartridges/sharepoint2013/src/control/Service References/SharePointService/SharePoint.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateSPSiteCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dnsName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="webTemplate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fbaAdminName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSPSiteCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSPSiteCollectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSPSiteCollectionAsynchronous">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dnsName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="webTemplate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fbaAdminName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fbaAdminPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSPSiteCollectionAsynchronousResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSPSiteCollectionAsynchronousResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSPSiteCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dnsName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSPSiteCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSPSiteCollectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>